$font-stack: Helvetica, san-serif;
$light-pink:  rgb(251, 222, 223);
$dark-pink: rgb(244, 189, 196);
$darker-pink: rgb(245, 144, 158);
$blue: rgb(152, 197, 253);
$light-blue: rgb(216 241 253);
$light-muted-pink: rgb(252 239 232);
$light-tan: rgb(245 236 227);
$red: rgb(178 19 41);
$darker-blue: rgb(58, 58, 108);


button.accept {
    float: right;
    margin: 50px 10% 50px 50px;
    background-color: white;
    border: 3px solid $darker-pink;
    color: $red;
    border-radius: 15px;
    font-weight:bold;
}
button.accept:hover {
    background-color: $darker-pink;
    color: white;
}

.results-wrap {
    background-color: rgb(233 248 255);
    padding-bottom: 500px;
    h2 {
        width: 80%;
        margin: auto;
        font-size: 40px;
        padding-top: 50px;
    }
}
.results {
    margin-left: 15%;
    margin: 30px 10% 0% 10%;
    box-sizing: border-box;
    border: 4px solid $dark-pink;
    padding-top: 30px;
    background-color: white;
    padding: 30px;
    h3 {
        color: $darker-blue;
        font-size: 30px;
        padding-bottom: 20px;
        padding-left: 35px;
        border-bottom:3px solid rgb(245, 144, 158);
        width: 50%;
    }
    li {
        letter-spacing: .5px;
        padding-top: 20px;
    }
    li.step {
        display: flex;
        flex-direction: column;
        .step-number{
            padding-bottom: 10px;
            font-weight: bold;
            font-size: 25px;
        }
    }
}

.search-top {
    padding: 20px 10% 20px 10%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: rgb(216, 241, 253);
    h1 {
        border-bottom: 5px solid $blue;
        padding-bottom: 30px;
    }
}
